*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:rgb(350,350,0)
}

.emoji{
    font-size: 10rem;
    cursor: pointer;
    user-select:none;
}

.sun{display: none;}

.moon{display: none;}

.active{display: block;}